/*https://colorhunt.co/palette/14114*/
* {
  margin: 0 0;
  padding: 0 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  background-color: #f6f7d7;
}

.library-section {
  display: flex;
  justify-content: center;
}

.hide.hide-card {
  display: none;
}

.hide-card {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #3ec1d3;
  width: 50%;
  border: 1px solid;
  border-radius: 5px;
}

.hide-header {
  width: 90%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.add-title {
  font-size: 2.5rem;
  margin: 1rem;
}
.hide-header .close-btn {
  align-self: flex-end;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 1.5rem;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-labels {
  margin: 0.5rem;
  font-size: 2rem;
}

.add-input {
  padding: 0.5rem;
  font-size: 1.8rem;
  text-align: center;
  border: 1px solid;
  border-radius: 2px;
}
#pages {
  width: 40%;
}
#read {
  width: 20px;
  height: 20px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3ec1d3;
  border-bottom: 2px solid;
}

.title {
  font-size: 6rem;
  margin: 2rem;
  color: #000;
}

.btn {
  font-size: 1.7rem;
  padding: 0.5rem;
  margin: 1.5rem;
  border: 1px solid;
  border-radius: 2px;
  background-color: #fff;
}

.library-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  width: 90%;
  height: 600px;
  padding: 1rem;
}

.book-container {
  width: 250px;
  text-align: center;
  background-color: #ff9a00;
  border: 1px solid;
  border-radius: 2px;
}

.book-lines {
  margin: 1rem;
}

.card-btn {
  font-size: 0.8rem;
  font-weight: bolder;
  padding: 0.5rem;
  margin: 1rem;
  border: 1px solid;
  border-radius: 2px;
  background-color: #fff;
}
